---
title: about MediaArt, Internet & himself
layout: default
---
<h1 class="title-light">Posts</h1>

{% assign posts = site.posts | where:"lang","en" %}

<ul class="post-list">
{% for post in posts limit:site.max_posts %}
    <li>
        <ul class="meta-list">
            <li>
                {% include _date.html date=post.date %}
            </li>

            {% for tag in post.tags %}
            <li><a href="/tags#{{ tag }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>

        <h2><a class="index-title" href="{{ post.url }}">{{ post.title }}</a></h2>

        {% if post.thumbnail.url %}
            <p><img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" width="{{ post.thumbnail.width }}" height="{{ post.thumbnail.height }}"></p>
        {% else %}
            {{ post.excerpt }}
        {% endif %}
        <a href="{{ post.url }}">...read more</a>
    </li>
{% endfor %}
</ul>

{% if posts.size > site.max_posts %}
<a href="/en/archive" class="island">See all posts in the archive</a>
{% endif %}
