---
title: über Kunst, Internet & sich selbst
layout: default
---
<h1 class="title-light">Beiträge</h1>

{% assign posts = site.posts | where:"lang","de" %}

<ul class="post-list">
{% for post in posts limit:site.max_posts %}
    <li>
        <ul class="meta-list">
            <li>
                {{ post.date | date: '%d.%m.%Y' }}
            </li>

           {% for tag in post.tags %}
            <li><a href="/tags#{{ tag }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>

        <h2><a href="{{ post.url }}" class="index-title">{{ post.title }}</a></h2>
        {% if post.thumbnail.url %}
            <p><img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" width="{{ post.thumbnail.width }}" height="{{ post.thumbnail.height }}"></p>
        {% else %}
            {{ post.excerpt }}
        {% endif %}
        <a href="{{ post.url }}">...weiterlesen</a>
    </li>
{% endfor %}
</ul>

{% if posts.size > site.max_posts %}
<a href="/archiv" class="island">Mehr Beiträge im Archiv lesen</a>
{% endif %}
