---
layout: default
disqus: true
---
<article class="post">
    <center>
    <ul class="meta-list">
        <li>
            {% if page.lang == "en" %}
            {% include _date.html date=page.date %}
            {% else %}
            {{ page.date | date: '%d.%m.%Y' }}
            {% endif %}
        </li>

        {% for tag in page.tags %}
            {% if page.lang == "en" %}
            <li><a href="/en/tags#{{ tag }}">{{ tag }}</a></li>
            {% else %}
            <li><a href="/tags#{{ tag }}">{{ tag }}</a></li>
            {% endif %}

        {% endfor %}
    </ul>
    </center>
    <h1>{{ page.title }}</h1>

    {{ content }}

<!-- Next/previous Post not yet working
     {% if page.previous %}
        <a rel="prev" href="{{ page.previous.url }}">&larr; älter</a>
    {% endif %}
    {% if page.next %}
        <a rel="next" href="{{ page.next.url }}">neuer &rarr;</a>
    {% endif %}
-->
</article>

{% if page.disqus %}
    <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'pitscher';
    //var disqus_developer = 1; // Comment out when the site is live

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

    {% endif %}







